<label>First Name:</label><br>
<%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %><br><br>

<label>Surname:</label><br>
<%= @user.surname.nil? ? "Not given" : (h @user.surname) %><br><br>

<label>Year of Birth:</label><br>
<%= @user.year_of_birth.nil? ? "Not given" : (h @user.year_of_birth) %><br><br>

<label>Gender:</label><br>
<%= @user.gender.nil? ? "Not given" : (h @user.gender) %><br><br>

<label>Contact number:</label><br>
<%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %><br><br>

<label>Job title:</label><br>
<%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %><br><br>


<label>Interests:</label><br>
<% @usr_interests = Userinterest.where(user_id: @user_id) %>
<%if @usr_interests.empty?%>
<p>You didn't enter any details about interests yet.</p>
<% else %>
<ul>
   <% @usr_interests.each do | usr_interest |%>
      <li>
         <% @interest=Interest.first(interest_id: usr_interest.interest_id) %>
         <%=  @interest.description %>
      </li>
   <% end %>
</ul>
<% end %>

<label>Availability:</label><br>
<%= @user.availability.nil? ? "Not given" : (h @user.availability) %>
<br><br>

<label>Other Notes:</label><br>
<%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %><br>
