<html lang="en">
   <head>
      <title>Home</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="popups.js" defer></script>
   </head>

   <body>
      <!--NAV-->
      <% if @user_type.eql?("mentor") %> <!-- If you are a mentor, mentor list will not be displayed -->
         <nav>
            <ul>
               <li>
                  <a href="index">Home</a>
               </li>
               <li>
                  <a href="profilecreate">Profile</a>
               </li>
               <li>
                  <a href="logout">Logout</a>
               </li>
            </ul>
         </nav>
      
       <% elsif @user_type.eql?("mentee") %>
         <nav>
            <ul>
               <li>
                  <a href="index">Home</a>
               </li>
               <li>
                  <a href="profilecreate">Profile</a>              
               </li>
               <li>
                  <a href="mentorlist">Mentor List</a>
               </li>
               <li>
                  <a href="logout">Logout</a>
               </li>
            </ul>
         </nav>
      
      <!-- Admins and AdminMentors share the same navigation as an admin already has the same nav elements as a mentor on top of having a User List page too --> 
      <% elsif @user_type.eql?("admin") || @user_type.eql?("adminmentor") %> 
         <nav>
            <ul>
               <li>
                  <a href="index">Home</a>
               </li>
               <li>
                  <a href="profilecreate">Profile</a>              
               </li>
               <li>
                  <a href="userlist">User List</a>
               </li>
               <li>
                  <a href="logout">Logout</a>
               </li>
            </ul>
         </nav>
       
      <% end %>

      <!--POPUPS-->
      <div class = "green_pop_up" <%="hidden" unless @just_logged_in%>>
         <p>Login successful</p>
      </div>

      <div class = "green_pop_up" <%="hidden" unless @just_declined%>>
         <p>You have successfully changed the status of your mentorship.</p>
      </div>

      <div class = "green_pop_up" <%="hidden" unless @just_cancelled%>>
         <p>You have successfully cancelled your mentorship.</p>
      </div>

      <div class = "green_pop_up" <%="hidden" unless @just_accepted%>>
         <p>You have successfully accepted your mentorship.</p>
      </div>

      <div class = "green_pop_up" <%="hidden" unless @accept_admin_email%>>
         <p>You have successfuly changed user's email.</p>
      </div>

      <div class = "green_pop_up" <%="hidden" unless @accept_admin_password%>>
         <p>You have successfuly changed user's password.</p>
      </div>
       
      <div class = "green_pop_up" <%="hidden" unless @accept_admin_username%>>
         <p>You have successfuly changed user's username.</p>
       </div>    

      <div class = "green_pop_up" <%="hidden" unless @decline_admin%>>
         <p>You have successfuly declined user's request.</p>
      </div>

      <!--MAIN CONTAINER-->
      <div id="changedetailsbody">
         <!-- propably repetion of the id selectors pls fix --> 
         <h1> Home</h1>
         <p>Welcome, <%=(h @user_type )%>!
         <!--MENTEE--> 
         <% if @user_type.eql?("mentee") %> 
            <p>
               As a mentee, you should fill in the multi choice survey by clicking the 'Profile' button.
               Once you have filled in the survey, you can view or change details about your profile from the 'Profile' page.
               Once your details have been filled in, you can view recommended mentors for you from the 'Mentor List' page,
               where you should chose a preferred mentor by clicking the 'request mentorship' button next to their name.
               You will then be able to contact them via email once they have accepted your request.
               You may logout at any time by pressing the 'Logout' button.
            </p>

            <h1>Your relationships:</h1>
            <!-- Retrieving all the pairs -->
            <% @pairs = Pair.where(mentee_id: @user_id) %>
            <% if(@pairs.empty?) %>
               <p>You don't have any relationships at the moment.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Contact Number</th>
                     <th>Status</th>
                  </tr>
                  <% @pairs.each do |pair| %>
                     <!-- Reading from the database, in each iteration, we are getting a mentor whos id is request.mentor_id (the mentor that accepted your request) -->
                     <% @mentor = User.first(id: pair.mentor_id) %>
                     <%unless @mentor.nil?%>
                        <tr>
                           <td>
                              <%= (@mentor.first_name.nil?) ? ("Not given") : (h @mentor.first_name) %> 
                              <%= (@mentor.surname.nil?) ? ("Not given") : (h @mentor.surname) %>
                           </td>
                           <td>
                              <%= (@mentor.email.nil?) ? ("Not given") : (h @mentor.email) %>
                           </td>
                           <td>
                              <%= (@mentor.contact_number.nil?) ? ("Not given") : (h @mentor.contact_number) %>
                           </td>
                           <%case pair.status%>
                           <%when 0%>
                              <td>
                                 <%="You requested a meeting with this mentor. Wait for his reply"%>
                              </td>
                              <td>
                                 <!--cancelling relation ship moving to status 4-->
                                 <form method="post" action="setpairstatus">
                                    <input hidden name="status" value="4" />
                                    <input hidden name="path" value="/index" />
                                    <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                                    <input id="requestbutton" type="submit" onclick="return cancelMeetingRequest()" value="Cancel Meeting Request" name="request_mentorship"/>
                                 </form>
                              </td>
                              
                           <%when 1%>
                              <td>
                                 <%= "Mentor agreed for a meeting with you. After after meeting decide if you want to request mentorship or cancell this relationship"%>
                              </td>
                              <td>
                                 <!--requesting mentorship going to status 2-->
                                 <form method="post" action="setpairstatus">
                                    <input hidden name="status" value="2" />
                                    <input hidden name="path" value="/index" />
                                    <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                                    <input id="requestbutton" type="submit" onclick="return requestMentorship()" value="Request Mentorship" name="request_mentorship"/>
                                 </form>
                              </td>
                              <td>
                                 <!--cancelling relation ship moving to status 4-->
                                 <form method="post" action="setpairstatus">
                                    <input hidden name="status" value="4" />
                                    <input hidden name="path" value="/index" />
                                    <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                                    <input id="requestbutton" type="submit" onclick="return cancelRelationship()" value="Cancel Relationship" name="request_mentorship"/>
                                 </form>
                              </td>
                           <%when 2%>
                              <td>
                                 <%="You requested a mentorship with this mentor. Wait for his reply"%>
                              </td>
                              <!--No actions avaliable-->
                           <%when 3%>
                              <td>
                                 <%="Active Mentorship"%>
                              </td>
                              <!--cancelling relation ship moving to status 4-->
                              <td>
                                 <!--cancelling relation ship moving to status 4-->
                                 <form method="post" action="setpairstatus">
                                    <input hidden name="status" value="4" />
                                    <input hidden name="path" value="/index" />
                                    <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                                    <input id="requestbutton" type="submit" onclick="return cancelRelationship()" value="Cancel Relationship" name="request_mentorship"/>
                                 </form>
                              </td>
                           <%when 4%>
                              <td>
                                 <%= "You have cancelled relationship with this mentor"%>
                              </td>
                              <!--No actions avaliable-->
                           <%when 5%>
                              <td>
                                 <%= "Mentor whats to cancel this mentorship."%>
                              </td>
                              <!--agree on cancelling the relationship moving to status 5-->
                              <td>
                                 <form method="post" action="setpairstatus">
                                    <input hidden name="status" value="5" />
                                    <input hidden name="path" value="/index" />
                                    <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                                    <input id="requestbutton" type="submit" onclick="return agreeOnCancelling()" value="Agree on cancelling" name="request_mentorship"/>
                                 </form>
                              </td>

                           <%when 6%>
                              <td>
                                 <%= "This relationship was canceled by mentor."%>
                              </td>
                              <!--No actions avaliable-->
                           <% else %>
                              <%= "ERROR Unhandled status type"%>
                           <% end %>
                           <td>
                              <a href="<%= @mentor.id.nil? ? "/not_found" : "profile/" + (h @mentor.id) %>">Profile</a>
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table>
            <% end %>

         <!--MENTOR-->
         <% elsif @user_type.eql?("mentor") %>
            <p>
               As a mentor, you can fill in the multi choice survey by clicking the 'Profile' button.
               Once you have filled in the survey, you can view or change details about you profile from the 'Profile' page.
               When all details have been filled in, you can view any requests for menteeship from the 'View Requests button',
               where you can accept or deny requests.
            </p>

            <h1>Your mentees:</h1>
            <% @requests = Pair.where(mentor_id: @user_id, status: 1) %>
            <% if(@requests.empty?) %>
               <p>You haven't accepted any mentees yet.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Contact Number</th>
                  </tr>
                  <% @requests.each do |request| %>
                     <% @mentee = User.first(id: request.mentee_id) %>
                     <%unless @mentee.nil?%>
                        <tr>
                           <td>
                              <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                              <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                           </td>
                           <td>
                              <%= (@mentee.email.nil?) ? ("Not given") : (h @mentee.email) %>
                           </td>
                           <td>
                              <%= (@mentee.contact_number.nil?) ? ("Not given") : (h @mentee.contact_number) %>
                           </td>
                           <td>
                              <a href="<%= @mentee.id.nil? ? "/not_found" : "profile/" + (h @mentee.id) %>">Profile</a>
                           </td>
                           <td>
                              <!-- Goes to the decline.rb controller --> 
                              <form method="post" action="decline">
                                  
                                  <input hidden name="pair_id" value="<%= request.pair_id %>"/>
                                  <input type="submit" onclick="return cancelMentorship()" value="Cancel Mentorship" name="cancel_mentorship"/>
                            
                              </form>   
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table>
            <% end %>

            <h1>Incoming requests:</h1>
            <% @requests = Pair.where(mentor_id: @user_id, status: 0) %>
            <% if(@requests.empty?) %>
               <p>You haven't recieved any new mentorship requests yet.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Contact Number</th>
                  </tr>
                  <% @requests.each do |request| %>
                     <% @mentee = User.first(id: request.mentee_id) %>
                     <%unless @mentee.nil?%>
                        <tr>
                           <td>
                              <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                              <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                           </td>
                           <td>
                              <%= (@mentee.email.nil?) ? ("Not given") : (h @mentee.email) %>
                           </td>
                           <td>
                              <%= (@mentee.contact_number.nil?) ? ("Not given") : (h @mentee.contact_number) %>
                           </td>
                           <td>
                              <a href="<%= @mentee.id.nil? ? "/not_found" : "profile/" + (h @mentee.id) %>">Profile</a>
                           </td>
                           <td>
                              <!-- Goes to the accept.rb controller -->
                              <form method="post" action="accept">
                                  
                                  <input hidden name="pair_id" value="<%= request.pair_id %>"/>
                                  <input type="submit" onclick="return acceptRequest()" value="Accept Request" name="accept_request"/>
                            
                              </form>
                           </td>
                           <td>
                              <!-- Goes to the decline.rb controller -->
                              <form method="post" action="decline">
                                  
                                  <input hidden name="pair_id" value="<%= request.pair_id %>"/>
                                  <input type="submit" onclick="return denyRequest()" value="Decline Request" name="decline_request"/>
                            
                              </form>                                                                                 
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table><br>
            <% end %>


            <!--ADMIN-->
         <% elsif @user_type.eql?("admin") %>

            <p>
               As an admin, you can fill in the multi choice survey by clicking the 'Profile' button.
               Once you have filled in the survey, you can view or change details about you profile from the 'Profile' page.
               When all details have been filled in, you can view any requests made by mentees or mentors and you can choose
               to approve or reject their requests.
            </p>
          
            <h1>User requests:</h1>
          
            <% @userrequests = Userrequest.where(status: 0) %>
            <% if(@userrequests.empty?) %>
               <p>You haven't recieved any new user requests yet.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Request Type</th>
                     <th>Request Data</th> 
                  </tr>
                  <% @userrequests.each do |userrequest| %>
                     <% @user = User.first(id: userrequest.user_id) %>
                     <%unless @user.nil?%>
                        <tr>
                           <td>
                              <a href="profile/<%= (h userrequest.user_id) unless userrequest.user_id.nil? %>" > 
                                 <%= (@user.first_name.nil?) ? ("Not given") : (h @user.first_name) %> 
                                 <%= (@user.surname.nil?) ? ("Not given") : (h @user.surname) %>
                              </a>
                           </td>
          
                           <td>
                              <%= (Request[userrequest.request_id].description.nil?) ? ("Not given") : (h Request[userrequest.request_id].description) %>
                           </td>
                            
                           <td>
                              <!-- If the user is requesting a change of password -->
                              <% if (userrequest.request_id == 2) %>
                                   ********
                              <% else %> 
                                  <%= (userrequest.request_data.nil?) ? ("Not given") : (h userrequest.request_data) %>
                              <% end %> 
                           </td> 
                          
                           <td>
                              <!-- Goes to the accept.rb controller --> 
                              <form method="post" action="accept-admin">
                                  
                                  <input hidden name="userrequest_id" value="<%= userrequest.userrequest_id.nil? ? "" : (h userrequest.userrequest_id) %>"/>
                                  <input type="submit" onclick="return acceptRequest()" value="Accept Request" name="accept_request"/>
                            
                              </form>                                                                
                           </td>
                           <td>
                              <!-- Goes to the decline.rb controller --> 
                              <form method="post" action="decline-admin">
                                  
                                  <input hidden name="userrequest_id" value="<%= userrequest.userrequest_id.nil? ? "" : (h userrequest.userrequest_id) %>"/>
                                  <input type="submit" onclick="return denyRequest()" value="Decline Request" name="decline_request"/>
                            
                              </form>  
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table><br>
            <% end %>
            

            <h1>View pairings:</h1>
            <% @pairs = Pair.all %>
            <% if(@pairs.empty?) %>
               <p>There are no current pairs between mentees and mentors.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Mentor</th>
                     <th>Mentee</th>
                     <th>Status</th>
                  </tr>
                  <% @pairs.each do |pair| %>
                     <% @mentor = User[pair.mentor_id] %>
                     <% @mentee = User[pair.mentee_id] %>
                     <tr>
                        <% unless @mentor.nil? %>
                           <td>
                              <a href="profile/<%= (h pair.mentor_id) unless pair.mentor_id.nil? %>" > 
                                 <%= (@mentor.first_name.nil?) ? ("Not given") : (h @mentor.first_name) %> 
                                 <%= (@mentor.surname.nil?) ? ("Not given") : (h @mentor.surname) %>
                              </a>  
                           </td>
                        <%end%>
                        <% unless @mentee.nil? %>
                           <td>
                              <a href="profile/<%= (h pair.mentee_id) unless pair.mentee_id.nil? %>">
                                 <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                                 <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                              </a>
                           </td> 
                        <%end%>
                        <td>
                           <% if !pair.status.nil? %>     
                              <% if pair.status == 1 %>
                                 <%= "Accepted" %>
                              <% elsif pair.status == 0 %>
                                 <%= "Currently being reviewed" %>
                              <% else %>
                                 <%= "Status unknown" %>
                              <% end %>
                           <% else %>
                              <%= "Does not exist" %>
                           <% end %> 
                        </td> 
                     </tr>
                  <% end %>
               </table><br>
            <% end %> 
          
         <% elsif @user_type.eql?("adminmentor") %>
            <p>Placeholder for text for an AdminMentor</p>
            
            <h1>User Requests:</h1>
            <% @userrequests = Userrequest.where(status: 0) %>
            <% if(@userrequests.empty?) %>
               <p>You haven't recieved any new user requests yet.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Request Type</th>
                     <th>Request Data</th> 
                  </tr>
                  <% @userrequests.each do |userrequest| %>
                     <% @user = User.first(id: userrequest.user_id) %>
                     <%unless @user.nil?%>
                        <tr>
                           <td>
                              <a href="profile/<%= (h userrequest.user_id) unless userrequest.user_id.nil? %>" > 
                                 <%= (@user.first_name.nil?) ? ("Not given") : (h @user.first_name) %> 
                                 <%= (@user.surname.nil?) ? ("Not given") : (h @user.surname) %>
                              </a>
                           </td>
          
                           <td>
                              <%= (Request[userrequest.request_id].description.nil?) ? ("Not given") : (h Request[userrequest.request_id].description) %>
                           </td>
                            
                           <td>
                              <!-- If the user is requesting a change of password -->
                              <% if (userrequest.request_id == 2) %>
                                   ********
                              <% else %> 
                                  <%= (userrequest.request_data.nil?) ? ("Not given") : (h userrequest.request_data) %>
                              <% end %> 
                           </td> 
                          
                           <td>
                              <!-- Goes to the accept.rb controller --> 
                              <form method="post" action="accept-admin">
                                  
                                  <input hidden name="userrequest_id" value="<%= userrequest.userrequest_id.nil? ? "" : (h userrequest.userrequest_id) %>"/>
                                  <input type="submit" onclick="return acceptRequest()" value="Accept Request" name="accept_request"/>
                            
                              </form>                                                                
                           </td>
                           <td>
                              <!-- Goes to the decline.rb controller --> 
                              <form method="post" action="decline-admin">
                                  
                                  <input hidden name="userrequest_id" value="<%= userrequest.userrequest_id.nil? ? "" : (h userrequest.userrequest_id) %>"/>
                                  <input type="submit" onclick="return denyRequest()" value="Decline Request" name="decline_request"/>
                            
                              </form>  
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table><br>
            <% end %>
  
            
            <h1>View pairings:</h1>
            <% @pairs = Pair.all %>
            <% if(@pairs.empty?) %>
               <p>There are no current pairs between mentees and mentors.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Mentor</th>
                     <th>Mentee</th>
                     <th>Status</th>
                  </tr>
                  <% @pairs.each do |pair| %>
                     <% @mentor = User[pair.mentor_id] %>
                     <% @mentee = User[pair.mentee_id] %>
                     <tr>
                        <% unless @mentor.nil? %>
                           <td>
                              <a href="profile/<%= (h pair.mentor_id) unless pair.mentor_id.nil? %>" > 
                                 <%= (@mentor.first_name.nil?) ? ("Not given") : (h @mentor.first_name) %> 
                                 <%= (@mentor.surname.nil?) ? ("Not given") : (h @mentor.surname) %>
                              </a>  
                           </td>
                        <%end%>
                        <% unless @mentee.nil? %>
                           <td>
                              <a href="profile/<%= (h pair.mentee_id) unless pair.mentee_id.nil? %>">
                                 <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                                 <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                              </a>
                           </td> 
                        <%end%>
                        <td>
                           <% if !pair.status.nil? %>     
                              <% if pair.status == 1 %>
                                 <%= "Accepted" %>
                              <% elsif pair.status == 0 %>
                                 <%= "Currently being reviewed" %>
                              <% else %>
                                 <%= "Status unknown" %>
                              <% end %>
                           <% else %>
                              <%= "Does not exist" %>
                           <% end %> 
                        </td> 
                     </tr>
                  <% end %>
               </table><br>
            <% end %>  
            
          
            <h1>Your mentees:</h1>
            <% @requests = Pair.where(mentor_id: @user_id, status: 1) %>
            <% if(@requests.empty?) %>
               <p>You haven't accepted any mentees yet.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Contact Number</th>
                  </tr>
                  <% @requests.each do |request| %>
                     <% @mentee = User.first(id: request.mentee_id) %>
                     <%unless @mentee.nil?%>
                        <tr>
                           <td>
                              <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                              <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                           </td>
                           <td>
                              <%= (@mentee.email.nil?) ? ("Not given") : (h @mentee.email) %>
                           </td>
                           <td>
                              <%= (@mentee.contact_number.nil?) ? ("Not given") : (h @mentee.contact_number) %>
                           </td>
                           <td>
                              <a href="<%= @mentee.id.nil? ? "/not_found" : "profile/" + (h @mentee.id) %>">Profile</a>
                           </td>
                           <td>
                              <!-- Goes to the decline.rb controller --> 
                              <form method="post" action="decline">
                                  
                                  <input hidden name="pair_id" value="<%= request.pair_id %>"/>
                                  <input type="submit" onclick="return cancelMentorship()" value="Cancel Mentorship" name="cancel_mentorship"/>
                            
                              </form>   
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table>
            <% end %>
            
          
            <h1>Incoming requests:</h1>
            <% @requests = Pair.where(mentor_id: @user_id, status: 0) %>
            <% if(@requests.empty?) %>
               <p>You haven't recieved any new mentorship requests yet.</p>
            <% else %>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Contact Number</th>
                  </tr>
                  <% @requests.each do |request| %>
                     <% @mentee = User.first(id: request.mentee_id) %>
                     <%unless @mentee.nil?%>
                        <tr>
                           <td>
                              <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                              <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                           </td>
                           <td>
                              <%= (@mentee.email.nil?) ? ("Not given") : (h @mentee.email) %>
                           </td>
                           <td>
                              <%= (@mentee.contact_number.nil?) ? ("Not given") : (h @mentee.contact_number) %>
                           </td>
                           <td>
                              <a href="<%= @mentee.id.nil? ? "/not_found" : "profile/" + (h @mentee.id) %>">Profile</a>
                           </td>
                           <td>
                              <!-- Goes to the accept.rb controller -->
                              <form method="post" action="accept">
                                  
                                  <input hidden name="pair_id" value="<%= request.pair_id %>"/>
                                  <input type="submit" onclick="return acceptRequest()" value="Accept Request" name="accept_request"/>
                            
                              </form>
                           </td>
                           <td>
                              <!-- Goes to the decline.rb controller -->
                              <form method="post" action="decline">
                                  
                                  <input hidden name="pair_id" value="<%= request.pair_id %>"/>
                                  <input type="submit" onclick="return denyRequest()" value="Decline Request" name="decline_request"/>
                            
                              </form>                                                                                 
                           </td>
                        </tr>
                     <% end %>
                  <% end %>
               </table><br>
            <% end %>
         
          
         <!--ERROR-->
         <% else %>
            <p>error with retrieving user type, please try again at another time</p>
         <% end %>
      </div>
      <%= erb :"common/footer" %>
   </body>
</html>