<html lang="en">
   <head>
      <title>Home</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="popups.js" defer></script>
   </head>

   <body>

      <!--NAV BAR-->
      <%= erb :"common/nav"%>
      
		  <!--POPUPS-->
      <div class = "pop_ups">
         <div class = "green">
						 <%= CookieReader.readCookie("make-login-popup",request,response) %>
             <%= CookieReader.readCookie("accept-admin-email",request,response) %>
             <%= CookieReader.readCookie("accept-admin-password",request,response) %>
					   <%= CookieReader.readCookie("accept-admin-username",request,response) %>
					   <%= CookieReader.readCookie("decline-admin",request,response) %>
					 
					   <%= CookieReader.readCookie("mentor-accepts-meeting",request,response) %> <!-- 2->3 -->
						 <%= CookieReader.readCookie("mentor-declines-meeting",request,response) %> <!-- 2->3 -->
					   <%= CookieReader.readCookie("cancels-meeting",request,response) %> <!-- ?->8 -->
						 <%= CookieReader.readCookie("mentor-accepts-mentorship",request,response) %>
						 <%= CookieReader.readCookie("mentor-declines-mentorship",request,response) %>
						 <%= CookieReader.readCookie("mentor-cancels-mentorship",request,response) %>
						 <%= CookieReader.readCookie("agree-on-cancelling",request,response) %> <!-- ?->5,7 -->
						 <%= CookieReader.readCookie("cancel-ongoing-request",request,response) %>
						 <%= CookieReader.readCookie("mentee-cancels-application",request,response) %>
						 <%= CookieReader.readCookie("mentee-cancels-mentorship-request",request,response) %>					 
         </div> 
		  </div>

      <!--MAIN CONTAINER-->
      <div id="changedetailsbody">
         <!-- propably repetion of the id selectors pls fix --> 
         <h1> Home</h1>
         <p>Welcome, <%=(h session[:user_type])%>!

         <% case session[:user_type]%> 
         <% when "mentee"%>
            <p>
               As a mentee, you should fill in the multi choice survey by clicking the 'Profile' button.
               Once you have filled in the survey, you can view or change details about your profile from the 'Profile' page.
               Once your details have been filled in, you can view recommended mentors for you from the 'Mentor List' page,
               where you should chose a preferred mentor by clicking the 'request mentorship' button next to their name.
               You will then be able to contact them via email once they have accepted your request.
               You may logout at any time by pressing the 'Logout' button.
            </p>

            <%= erb :"common/index/mentee/yourrelationships"%>

         <% when "mentor"%>
            <p>
               As a mentor, you can fill in the multi choice survey by clicking the 'Profile' button.
               Once you have filled in the survey, you can view or change details about you profile from the 'Profile' page.
               When all details have been filled in, you can view any requests for menteeship from the 'View Requests button',
               where you can accept or deny requests.
            </p>

            <!--Section that enables mentor to see his relations ships with mentees-->
            <%= erb :"common/index/mentor/yourrelationships"%>

         <% when "admin"%>
            <p>
               As an admin, you can fill in the multi choice survey by clicking the 'Profile' button.
               Once you have filled in the survey, you can view or change details about you profile from the 'Profile' page.
               When all details have been filled in, you can view any requests made by mentees or mentors and you can choose
               to approve or reject their requests.
            </p>
          
            <!--Section that enables admin to see user requests-->
            <%= erb :"common/index/admin/userrequests"%>
            
            <!--Section that enables admin to see mentor-mentee parings-->
            <%= erb :"common/index/admin/viewpairings"%>

         <% when "adminmentor"%>
          
            <p>Placeholder for text for an AdminMentor</p>
            
            <!--Section that enables admin to see user requests-->
            <%= erb :"common/index/admin/userrequests"%>
            
            <!--Section that enables admin to see mentor-mentee parings-->
            <%= erb :"common/index/admin/viewpairings"%>
            
            <!--Section that enables adminmentor to see his relations ships with mentees-->
            <%= erb :"common/index/mentor/yourrelationships"%>

         <% end %>
      </div>
      <%= erb :"common/footer" %>
   </body>
</html>