<html lang="en">
   <head>
      <title>Login</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
   </head>
    
   <body>
      <h1>Login</h1>
      <div class = "pop_ups">
         <div class = "green">
						 <%= CookieReader.readCookie("make-register-popup",request,response) %>
						 <%= CookieReader.readCookie("change-from-login-popup",request,response) %>
             <%= CookieReader.readCookie("redirected-popup",request,response) %>
					   <%= CookieReader.readCookie("suspended-user-login-popup",request,response) %>
         </div> 
		  </div>
       
      <p>Login with your credentials below:</p>
       
      <!--defines form that posts to login.rb controller -->
      <form method="post" action="login">
         <label>Email or Username:</label><br>
         <input id="logininput" name="text" placeholder="enter your email or username here..." value="<%= params["text"].nil? ? "" : (h params["text"].to_s)%>"/><br> 
         <% if !@user.nil? && !@user.errors.nil? && @user.errors.include?("email") %>
            <% @user.errors["email"].each do |error| %>
               <p class="error"><strong><%= error %></strong></p>
            <% end %>
         <% end %>
         
         <% if !@user.nil? && !@user.errors.nil? && @user.errors.include?("username") %>
            <% @user.errors["username"].each do |error| %>
               <p class="error"><strong><%= error %></strong></p>
            <% end %>
         <% end %>
          
         <% if !@user.nil? && !@user.errors.nil? && @user.errors.include?("text") %>
            <% @user.errors["text"].each do |error| %>
               <p class="error"><strong><%= error %></strong></p>
            <% end %>
         <% end %> 
         <br> 
          
          
         <label>Password:</label><br>
         <input id="logininput" type="password"  name="password" placeholder="enter your password here..." value="<%= (h @user.password) unless @user.nil? %>"/>
          
         <!-- uses User model to print errors with password (eg: too short)-->
         <% if !@user.nil? && !@user.errors.nil? && @user.errors.include?("password") %>
            <% @user.errors["password"].each do |error| %>
               <p class="error"><strong><%= error %></strong></p>
            <% end %>
         <% end %>
         <br><br>
         
         <input type="submit" value="Log in" class="button" name="submit_login"/>
         <br>
         
         <a href="/changeaccountdetails" class="button">Forgot your credentials?</a><br><br> 
      
         <a href="/register" class="button">Create an account</a>
      
      </form> 
       
       <%= erb :"common/footer" %>
       
   </body>
</html>