<html lang="en">
   <head>
      <title>Mentors</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="popups.js"></script> 
   </head>
    
   <body>
      <!--NAV BAR-->
      <%= erb :"common/nav"%>
      
      <div class = "green_pop_up" <%="hidden" unless @just_requested%>>
         <p>You have requested a mentor successfully. Click on the home page to view your ongoing request.</p>
      </div>
      
      <div class = "red_pop_up" <%="hidden" unless @mentor_already_requested%>>
         <p>You cannot request as you already have a mentor or an ongoing request.</p>
      </div>
      
      <!-- These 2 pop ups for the id should be more useful for the programmer but this is to prevent the app from crashing --> 
      <div class = "red_pop_up" <%="hidden" unless @mentor_id_not_integer%>>
         <p>Unexpected error as mentor_id cannot be an integer.</p>
      </div>
       
      <div class = "red_pop_up" <%="hidden" unless @mentee_id_not_integer%>>
         <p>Unexpected error as mentee_id cannot be an integer.</p>
      </div>

      <div class = "red_pop_up" <%="hidden" unless @too_many_requests%>>
         <p>This mentor has too much ongoing requests try again later.</p>
      </div>  
      
       
       
      <div id="changedetailsbody">
         <h1>Mentors</h1>
         <h2>Below is a list of mentors that are currently available:</h2>
         <table>
            <tr>
               <th>Name</th>
               <th>Job Title</th>
               <th>Main Interest</th>
            </tr>
            <% @mentors.each do |mentor| %>
                <tr>
                   <td>
                       <%= mentor.first_name.nil? ? "Not given" : (h mentor.first_name) %>
                       <%= mentor.surname.nil? ? "Not given" : (h mentor.surname) %>
                   </td>

                   <td>
                       <%= mentor.job_deg_cosmetic_name.nil? ? "No occupation" : (h mentor.job_deg_cosmetic_name.capitalize()) %>
                   </td>

                   <td>
                       <%= Userinterest.first(user_id: mentor.id).nil? ? "No major interest given" : Interest[Userinterest.first(user_id: mentor.id).interest_id].description %>
                   </td>

                   <td>
                       <a id="profilelinks" href="<%= mentor.id.nil? ? "/not_found" : "profile/" + (h mentor.id) %>">Profile</a>
                   </td>

                   <td>
                       <!-- Goes to the setpairstatus.rb controller --> 
                       <!-- Creating a new pair and setting its status to 0 --> 
                       <form method="post" action="setpairstatus">


                           <input hidden name="status" value="0" />
                           <input hidden name="path" value="/mentorlist" />
                           <input hidden name="mentee_id" value="<%= session[:user_id].nil? ? "" : (h session[:user_id]) %>" />
                           <input hidden name="mentor_id" value="<%= mentor.id.nil? ? "" : (h mentor.id) %>" />
                           <input id="requestbutton" type="submit" onclick="return requestMeeting()" value="Request Meeting" name="request_meeting"/>

                       </form>
                  </td>
                </tr>
            <% end %>
             
            <!-- Displaying adminmentors -->

            <% @adminmentors.each do |adminmentor| %>
                <tr>
                   <td>
                       <%= adminmentor.first_name.nil? ? "Not given" : (h adminmentor.first_name) %>
                       <%= adminmentor.surname.nil? ? "Not given" : (h adminmentor.surname) %>
                   </td>
                    
                   <td>
                       <%= adminmentor.job_deg_cosmetic_name.nil? ? "No occupation" : (h adminmentor.job_deg_cosmetic_name.capitalize()) %>
                   </td> 

                   <td>
                       <%= Userinterest.first(user_id: adminmentor.id).nil? ? "No major interest given" : Interest[Userinterest.first(user_id: adminmentor.id).interest_id].description %>
                   </td>

                   <td>
                       <a id="profilelinks" href="<%= adminmentor.id.nil? ? "/not_found" : "profile/" + (h adminmentor.id) %>">Profile</a>
                   </td>

                   <td>
                       <!-- Goes to the setpairstatus.rb controller --> 
                       <!-- Creating a new pair and setting its status to 0 --> 
                       <form method="post" action="setpairstatus">


                           <input hidden name="status" value="0" />
                           <input hidden name="path" value="/mentorlist" />
                           <input hidden name="mentee_id" value="<%= session[:user_id].nil? ? "" : (h session[:user_id]) %>" />
                           <input hidden name="mentor_id" value="<%= adminmentor.id.nil? ? "" : (h adminmentor.id) %>" />
                           <input id="requestbutton" type="submit" onclick="return requestMeeting()" value="Request Meeting" name="request_meeting"/>

                       </form>
                  </td>
                </tr>
            <% end %>
         </table><br>
      </div> 
       
       <%= erb :"common/footer" %>
       
   </body>
</html>
