<html lang="en">
   <head>
      <title>Mentors</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="popups.js"></script> 
   </head>
    
   <body>
      <nav>
         <ul>
            <li>
               <a href="index">Home</a>
            </li>
            <li>
               <a href="profilecreate">Profile</a>
            </li>
            <li>
               <a href="mentorlist">Mentor List</a>
            </li>
            <li>
               <a href="logout">Logout</a>
            </li>
         </ul>
      </nav>
      
      <div class = "green_pop_up" <%="hidden" unless @just_requested%>>
         <p>You have requested a mentor successfully. Click on the home page to view your ongoing request.</p>
      </div>
      
      <div class = "red_pop_up" <%="hidden" unless @mentor_already_requested%>>
         <p>You cannot request as you already have a mentor or an ongoing request.</p>
      </div>
      
      <!-- These 2 pop ups for the id should be more useful for the programmer but this is to prevent the app from crashing --> 
      <div class = "red_pop_up" <%="hidden" unless @mentor_id_not_integer%>>
         <p>Unexpected error as mentor_id cannot be an integer.</p>
      </div>
       
      <div class = "red_pop_up" <%="hidden" unless @mentee_id_not_integer%>>
         <p>Unexpected error as mentee_id cannot be an integer.</p>
      </div> 
      
       
       
      <div id="changedetailsbody">
         <h1>Mentors</h1>
         <h2>Below is a list of mentors that are currently available:</h2>
         <table>
            <tr>
               <th>Name</th>
               <th>Job Title</th>
               <th>Main Interest</th>
            </tr>
            <% @mentors.each do |mentor| %>
            <tr>
               <td>
                   <%= mentor.first_name.nil? ? "Not given" : (h mentor.first_name) %>
                   <%= mentor.surname.nil? ? "Not given" : (h mentor.surname) %>
               </td>
               
               <td>
                   <%= mentor.job_deg_cosmetic_name.nil? ? "No occupation" : (h mentor.job_deg_cosmetic_name.capitalize()) %>
               </td>
               
               <td>
                   <%= Userinterest.first(user_id: mentor.id).nil? ? "No major interest given" : Interest[Userinterest.first(user_id: mentor.id).interest_id].description %>
               </td>
               
               <td>
                   <a href="<%= mentor.id.nil? ? "/not_found" : "profile/" + (h mentor.id) %>">Profile</a>
               </td>
               
               <td>
                   <!-- Goes to the request.rb controller --> 
                   <form method="post" action="request">
                         
                         <input hidden name="mentor_id" value="<%= mentor.id.nil? ? "" : (h mentor.id) %>"/>
                         <input type="submit" onclick="return requestMentorship()" value="Request Mentorship" name="request_mentorship"/>
                   
                   </form>
              </td>
            </tr>
            <% end %>
         </table><br>
      </div>
       
   </body>
</html>