<html>
    <head>
        <title>Multi Choice Survey</title>
      
    </head>
    <body>
        <h1>Multi Choice Survey:</h1>
        <%= @role="mentee" %> <!-- placeholder to make code work, remove when cookies have been implemented -->
            
        <form method="post" action="process-multichoicesurvey">
            <%= if @role=="mentee" %> <!-- need to get is mentee or mentor out of cookies -->
            <a>Course Name:</a>
            <input type="text" name="form_field_mentee1" value=""/> <!-- need to be dropdown will do properly later -->
            <a>Subject area:</a>
            <input type="text" name="form_field_mentee1" value=""/>
            <a>Question ...</a>
            <input type="text" name="form_field_mentee1" value=""/>
            <input type="submit" value="Submit:" name="submitmentee" />
            <%= end %>
            
            <%= else if @role="mentor" %>
            <a>Job Title:</a>
            <input type="text" name="form_field_mentor1" value=""/>
            <a>Industry area:</a>
            <input type="text" name="form_field_mentor1" value=""/>
            <a>Job information</a>
            <input type="text" name="form_field_mentor1" value=""/>
            <input type="submit" value="Submit:" name="submitmentor" />
            <%= end %>
            <%= else %>
                <!-- error -->
            <%= end %>
        </form>

        
    </body>
</html>