<html lang="en">
   <head>
      <title>Profile</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="profilecreate.js" defer></script> 
   </head>
    
   <body>
      <!--NAV BAR-->
      <%= erb :"common/nav"%>
       
      <div class = "green_pop_up" <%="hidden" unless @changed_from_profile%>>
         <p>You have successfully requested changes. Once an admin approves, you will be able to use your new details to log in.</p>
      </div> 

      <div class = "green_pop_up" <%="hidden" unless @admin_to_adminmentor_success%>>
         <p>Now you have capabilities of mentor as well.</p>
      </div> 

      <div class = "green_pop_up" <%="hidden" unless @adminmentor_to_admin_success%>>
         <p>You revoked your mentor role successfully.</p>
      </div> 

      <div class = "red_pop_up" <%="hidden" unless @admin_to_adminmentor_failure%>>
         <p>Unexpected error in switching from admin to adminmentor.</p>
      </div> 

      <div class = "red_pop_up" <%="hidden" unless @adminmentor_to_admin_failures%>>
         <p>Unexpected error in switching from adminmentor to admin.</p>
      </div> 
       
       
      <div id="profilecreatebody">
         <h1>Your Profile</h1>
         <div id="displayflex">
            <div>
               <!-- The Profile Picture button would apply to any user type --> 
               <input type="submit" value="Profile Picture" class="button" name="profile_picture"/><br> 
               
               <!-- Here we are displaying the buttons specific to whether you are an admin or an adminmentor to switch roles accordingly --> 
               <% if @role.eql?("admin") %>
                   <form method="post" action="switchadminroles">
                       <input type="submit" value="Become a Mentor too" class="button" name="admin_to_adminmentor"/><br>
                   </form>
                   
               <% elsif @role.eql?("adminmentor") %>
                   <form method="post" action="switchadminroles">
                       <input type="submit" value="Revoke your Mentor role and become an Admin only" class="button" name="adminmentor_to_admin"/><br>
                   </form>
               <% end %>
                
            </div>

            <%if @change%> 
               <div id="profileinfo">
                  <!-- CHANGING DETAILS-->
                  <form method="post" action="profilecreate">
                     <% @user=User.first(id: @user_id) %>
                     
                        <!--MENTEE-->
                     <% if @role.eql?("mentee") %> <!-- If you are a mentee, then it will display the relevant fields for a mentee -->
                         <%= erb :"common/profile/mentee/mentee-change-details" %>    
                        
                        <!-- MENTOR OR ADMINMENTOR -->
                     <% elsif @role.eql?("mentor") || @role.eql?("adminmentor") %> <!-- If you are a mentor or adminmentor, then it will display the relevant fields for a mentor or adminmentor -->
                         <%= erb :"common/profile/mentor-or-adminmentor/mentor-adminmentor-change-details" %>                    
                        
                        <!-- ADMIN -->              
                     <% elsif @role.eql?("admin") %> <!-- If you are an admin, then it will display the relevant fields for an admin -->
                         <%= erb :"common/profile/admin/admin-change-details" %>                
                      
                     <% else %>
                        <p>ERROR</p>
                     
                     <!-- redirect to the home page "/index" -->
                     <% end %>
                     <br>
                     <input type="submit" class="button" value="Save Changes" name="submit_change_details"/>
                     <br>
                  </form>
                  
               </div>
            <% else %>
               <div id="presentationOfDetails">
                  <!-- PRESENTING DETAILS-->
                  <% @user=User.first(id: @user_id) %>
                  
                   <% if @role.eql?("mentee") %>
                     <%= erb :"common/profile/mentee/mentee-display-details" %>
                  
                  <% elsif @role.eql?("mentor") || @role.eql?("adminmentor") %>
                     <%= erb :"common/profile/mentor-or-adminmentor/mentor-adminmentor-display-details" %>
                     
                  
                  <% elsif @role.eql?("admin") %>
                     <%= erb :"common/profile/admin/admin-display-details" %>
                   
                  <% else %>
                     <% redirect "/not_found" %>
                  <%end%>
               </div>
               <div>
                  <a href="profilecreate?change=true" class="button">Change Profile Details</a><br>
                  <a href="/changeaccountdetails" class="button">Change Account Details</a> 
               </div>
            <% end %> 
            
         </div>
      </div>
       
       <%= erb :"common/footer" %>
       
   </body>
</html>