<html lang="en">
   <head>
      <title>Profile</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="profilecreate.js" defer></script> 
   </head>
    
   <body>
      <% if @role.eql?("mentor") %> <!-- If you are a mentor, mentor list will not be displayed -->
      <nav>
         <ul>
            <li>
               <a href="index">Home</a>
            </li>
            <li>
               <a href="profilecreate">Profile</a>
            </li>
            <li>
               <a href="logout">Logout</a>
            </li>
         </ul>
      </nav>
      <% elsif @role.eql?("mentee") %>
      <nav>
         <ul>
            <li>
               <a href="index">Home</a>
            </li>
            <li>
               <a href="profilecreate">Profile</a>              
            </li>
            <li>
               <a href="mentorlist">Mentor List</a>
            </li>
            <li>
               <a href="logout">Logout</a>
            </li>
         </ul>
      </nav>
      <% elsif @role.eql?("admin") || @role.eql?("adminmentor") %>
      <nav>
         <ul>
            <li>
               <a href="index">Home</a>
            </li>
            <li>
               <a href="profilecreate">Profile</a>              
            </li>
            <li>
               <a href="userlist">User List</a>
            </li>
            <li>
               <a href="logout">Logout</a>
            </li>
         </ul>
      </nav>
      <% else %>
         ERROR: user_type is not correct
      <% end %>      
       
      <div class = "green_pop_up" <%="hidden" unless @changed_from_profile%>>
         <p>You have successfully requested changes. Once an admin approves, you will be able to use your new details to log in.</p>
      </div> 

      <div class = "green_pop_up" <%="hidden" unless @admin_to_adminmentor_success%>>
         <p>Now you have capabilities of mentor as well.</p>
      </div> 

      <div class = "green_pop_up" <%="hidden" unless @adminmentor_to_admin_success%>>
         <p>You revoked your mentor role successfully.</p>
      </div> 

      <div class = "red_pop_up" <%="hidden" unless @admin_to_adminmentor_failure%>>
         <p>Unexpected error in switching from admin to adminmentor.</p>
      </div> 

      <div class = "red_pop_up" <%="hidden" unless @adminmentor_to_admin_failures%>>
         <p>Unexpected error in switching from adminmentor to admin.</p>
      </div> 
       
       
      <div id="profilecreatebody">
         <h1>Your Profile</h1>
         <div id="displayflex">
            <div>
               <!-- The Profile Picture button would apply to any user type --> 
               <input type="submit" value="Profile Picture" class="button" name="profile_picture"/><br> 
               
               <!-- Here we are displaying the buttons specific to whether you are an admin or an adminmentor to switch roles accordingly --> 
               <% if @role.eql?("admin") %>
                   <form method="post" action="switchadminroles">
                       <input type="submit" value="Become a Mentor too" class="button" name="admin_to_adminmentor"/><br>
                   </form>
                   
               <% elsif @role.eql?("adminmentor") %>
                   <form method="post" action="switchadminroles">
                       <input type="submit" value="Revoke your Mentor role and become an Admin only" class="button" name="adminmentor_to_admin"/><br>
                   </form>
               <% end %>
                
            </div>

            <%if @change%> 
               <div id="profileinfo">
                  <!-- CHANGING DETAILS-->
                  <form method="post" action="profilecreate">
                     <% @user=User.first(id: @user_id) %>
                     <% if @role.eql?("mentee") %> <!-- If you are a mentee, then it will display the relevant fields for a mentee -->
                     
                     
                        <label>First Name:</label><br>
                        <input type="text" name="first_name" value="<%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %>"/><br><br>
                     
                        <label>Surname:</label><br>
                        <input type="text" name="surname" value="<%= @user.surname.nil? ? "Not given" : (h @user.surname) %>"/><br><br>
                  
                        <%if @user.year_of_birth.nil?%>
                           <label>Year of Birth:</label><br>
                           <select name="year_of_birth">
                              <% (1900..2021).each do |i| %>
                                 <%= "<option value=\"#{i}\">#{i}</option>" %>
                              <% end %>
                           </select><br>
                        <% else %>
                           <label>Year of Birth: <%= @user.year_of_birth%></label><br>
                           <select name="year_of_birth" hidden>
                           <option value="<%= @user.year_of_birth%>"> </option>
                           </select><br> 
                        <% end %>
                        
                        <label>Gender:</label><br>

                        <% gender = {"Male" => false, "Female" => false, "Other" => false} %> 
                        <% if !@user.gender.nil?%>
                           <% gender[@user.gender] = true %>
                        <%end%> 
                        <select name="gender">
                           <option value="Male" <%="selected" if gender["Male"]%>> <%= "Male"%></option>
                           <option value="Female" <%="selected" if gender["Female"]%>> <%= "Female"%> </option>
                           <option value="Other" <%="selected" if gender["Other"]%>> <%= "Other"%> </option>
                        </select><br><br>
                        
                        <label>Contact number:</label><br>
                        <input type="text" name="contact_number" value="<%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %>"/><br><br>
                        
                        
                           <label>Your course:</label><br>
                           <select name="deg_id">
                              <% @courses = Course.all %>
                              <% @courses.each_with_index do |course, index| %>
                                 <option value="<%=course.deg_id%>" <%="selected" if index+1==@user.deg_id%>>
                                    <%=course.deg_name_functional%>
                                 </option>
                              <% end %>
                           </select><br><br>
                        
                        <label>Degree year:</label><br>
                        <% keys = [" ","foundation_year","1","2","3","year_in_industry","masters","phd"] %>
                        <% values = [" ","Foundation Year","1","2","3","Year In Industry","Masters Year","PhD"] %>
                        <% selected = Array.new(keys.length) {false}%>
                        <% if !@user.deg_year.nil?%>
                           <% keys.each_with_index do |key, i| %>
                                 <% selected[i]=true if key==@user.deg_year %>
                           <% end %>
                        <% end %> 
                        <select name="deg_year">
                           <% for i in 0...keys.length do %>
                              <option value="<%= keys[i]%>" <%="selected" if selected[i]%> > <%=values[i]%></option>
                           <% end %> 
                        </select><br><br>

                        <label>Interests:</label><br>
                        <div id="dropdowns">
                           <!-- for visible interest dropdown lists-->
                           <%@usr_interests.each_with_index do |usr_interest, i|%>
                                 <select name="<%="interest_id_#{i}"%>">
                                    <% Interest.all.each do |interest|%>
                                       <option value="<%= interest.interest_id %>"
                                             <%= usr_interest.interest_id.eql?(interest.interest_id)? "selected" : "" %>>
                                          <%= interest.description%>
                                       </option>
                                       
                                    <%end%>
                                    <option value="none">none</option>
                                 </select>
                           <%end%>
                           <!-- for hidden interest dropdown lists-->
                           <% for i in @numOfUserInterests...@numOfInterests%>
                              <select name="<%="interest_id_#{i}"%>" hidden="true">
                                    <% Interest.all.each do |interest|%>


                                       <option value="<%= interest.interest_id %>">
                                          <%= interest.description%>
                                       </option>
                                    <%end%>
                                    <option value="none" selected>none</option>
                              </select>
                           <% end %>
                        </div>
                        <button type="button" id="btn_show">Add Interest</button> 
                        <button type="button" id="btn_hide">Remove Interest</button>
                        <!--type="button" prevents the page from refreshing-->
                        <br><br>
                         
                        <label>Other Notes:</label><br>
                        <textarea type="text" name="profile_text" rows="5" cols="50"><%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %></textarea>
                        <br>
                        
                        <!--MENTOR -->
                     <% elsif @role.eql?("mentor") %> <!-- If you are a mentor, then it will display the relevant fields for a mentor -->
                     
                     
                        <label>First Name:</label><br>
                        <input type="text" name="first_name" value="<%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %>"/><br><br>
                     
                        <label>Surname:</label><br>
                        <input type="text" name="surname" value="<%= @user.surname.nil? ? "Not given" : (h @user.surname) %>"/><br><br>
                  
                        <%if @user.year_of_birth.nil?%>
                           <label>Year of Birth:</label><br>
                           <select name="year_of_birth">
                              <% (1900..2021).each do |i| %>
                                 <%= "<option value=\"#{i}\">#{i}</option>" %>
                              <% end %>
                           </select><br>
                        <% else %>
                           <label>Year of Birth: <%= @user.year_of_birth%></label><br>
                           <select name="year_of_birth" hidden>
                           <option value="<%= @user.year_of_birth%>"> </option>
                           </select><br>
                        <% end %>
                        
                        <label>Gender:</label><br>

                        <% gender = {"Male" => false, "Female" => false, "Other" => false} %> 
                        <% if !@user.gender.nil?%>
                           <% gender[@user.gender] = true %>
                        <%end%> 
                        <select name="gender">
                           <option value="Male" <%="selected" if gender["Male"]%>> <%= "Male"%></option>
                           <option value="Female" <%="selected" if gender["Female"]%>> <%= "Female"%> </option>
                           <option value="Other" <%="selected" if gender["Other"]%>> <%= "Other"%> </option>
                        </select><br><br>
                        
                        
                        <label>Contact number:</label><br>
                        <input type="text" name="contact_number" value="<%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %>"/><br><br>
                        
                        <label>Job title:</label><br>
                        <input type="text" name="job_deg_cosmetic_name" value="<%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %>"/><br><br>
                  

                        <label>Interests:</label><br>
                        <div id="dropdowns">
                           <!-- for visible interest dropdown lists-->
                           <%@usr_interests.each_with_index do |usr_interest, i|%>
                                 <select name="<%="interest_id_#{i}"%>">
                                    <% Interest.all.each do |interest|%>
                                       <option value="<%= interest.interest_id %>"
                                              <%= usr_interest.interest_id.eql?(interest.interest_id)? "selected" : "" %> -->
                                          <%= interest.description%>
                                       </option>
                                       
                                    <%end%>
                                    <option value="none">none</option>
                                 </select>
                           <%end%>
                           <!-- for hidden interest dropdown lists-->
                           <% for i in @numOfUserInterests...@numOfInterests%>
                              <select name="<%="interest_id_#{i}"%>" hidden="true">
                                    <% Interest.all.each do |interest|%>


                                       <option value="<%= interest.interest_id %>">
                                          <%= interest.description%>
                                       </option>
                                    <%end%>
                                    <option value="none" selected>none</option>
                              </select>
                           <% end %>
                        </div>
                        <button type="button" id="btn_show">Add Interest</button> 
                        <button type="button" id="btn_hide">Remove Interest</button>
                        <!--type="button" prevents the page from refreshing-->
                        <br><br>

                        <label>Other Notes:</label><br>
                        <textarea type="text" name="profile_text" rows="5" cols="50"><%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %></textarea>
                        <br>
                                       
                     <% elsif @role.eql?("admin") %>
                     
                        <label>First Name:</label><br>
                        <input type="text" name="first_name" value="<%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %>"/><br><br>
                     
                        <label>Surname:</label><br>
                        <input type="text" name="surname" value="<%= @user.surname.nil? ? "Not given" : (h @user.surname) %>"/><br><br>
                  
                        <%if @user.year_of_birth.nil?%>
                           <label>Year of Birth:</label><br>
                           <select name="year_of_birth">
                              <% (1900..2021).each do |i| %>
                                 <%= "<option value=\"#{i}\">#{i}</option>" %>
                              <% end %>
                           </select>
                        <% else %>
                           <label>Year of Birth: <%= @user.year_of_birth%></label><br>
                           <select name="year_of_birth" hidden>
                                 <option value="<%= @user.year_of_birth%>"> </option>
                           </select>
                        <br>
                        <% end %>
                        
                        <label>Gender:</label><br>

                        <% gender = {"Male" => false, "Female" => false, "Other" => false} %> 
                        <% if !@user.gender.nil?%>
                           <% gender[@user.gender] = true %>
                        <%end%> 
                        <select name="gender">
                           <option value="Male" <%="selected" if gender["Male"]%>> <%= "Male"%></option>
                           <option value="Female" <%="selected" if gender["Female"]%>> <%= "Female"%> </option>
                           <option value="Other" <%="selected" if gender["Other"]%>> <%= "Other"%> </option>
                        </select><br>
                        <br>
                        
                        <label>Contact number:</label><br>
                        <input type="text" name="contact_number" value="<%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %>"/><br><br>
                      
                        <label>Job title:</label><br>
                        <input type="text" name="job_deg_cosmetic_name" value="<%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %>"/><br><br>
                        
                        <label>Other Notes:</label><br>
                        <textarea type="text" name="profile_text" rows="5" cols="50" maxwidth="100"><%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %></textarea>
                        <br>
                      
                     <% elsif @role.eql?("adminmentor") %>
                      
                        <label>First Name:</label><br>
                        <input type="text" name="first_name" value="<%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %>"/><br><br>
                     
                        <label>Surname:</label><br>
                        <input type="text" name="surname" value="<%= @user.surname.nil? ? "Not given" : (h @user.surname) %>"/><br><br>
                  
                        <%if @user.year_of_birth.nil?%>
                           <label>Year of Birth:</label><br>
                           <select name="year_of_birth">
                              <% (1900..2021).each do |i| %>
                                 <%= "<option value=\"#{i}\">#{i}</option>" %>
                              <% end %>
                           </select>
                        <% else %>
                           <label>Year of Birth: <%= @user.year_of_birth%></label><br>
                           <select name="year_of_birth" hidden>
                                 <option value="<%= @user.year_of_birth%>"> </option>
                           </select>
                        <br>
                        <% end %>
                        
                        <label>Gender:</label><br>

                        <% gender = {"Male" => false, "Female" => false, "Other" => false} %> 
                        <% if !@user.gender.nil?%>
                           <% gender[@user.gender] = true %>
                        <%end%> 
                        <select name="gender">
                           <option value="Male" <%="selected" if gender["Male"]%>> <%= "Male"%></option>
                           <option value="Female" <%="selected" if gender["Female"]%>> <%= "Female"%> </option>
                           <option value="Other" <%="selected" if gender["Other"]%>> <%= "Other"%> </option>
                        </select><br>
                        <br>
                        
                        <label>Contact number:</label><br>
                        <input type="text" name="contact_number" value="<%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %>"/><br><br>
                        
                        <label>Job title:</label><br>
                        <input type="text" name="job_deg_cosmetic_name" value="<%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %>"/><br><br>
                          
                        <label>Interests:</label><br>
                        <div id="dropdowns">
                           <!-- for visible interest dropdown lists-->
                           <%@usr_interests.each_with_index do |usr_interest, i|%>
                                 <select name="<%="interest_id_#{i}"%>">
                                    <% Interest.all.each do |interest|%>
                                       <option value="<%= interest.interest_id %>"
                                              <%= usr_interest.interest_id.eql?(interest.interest_id)? "selected" : "" %> -->
                                          <%= interest.description%>
                                       </option>
                                       
                                    <%end%>
                                    <option value="none">none</option>
                                 </select>
                           <%end%>
                           <!-- for hidden interest dropdown lists-->
                           <% for i in @numOfUserInterests...@numOfInterests%>
                              <select name="<%="interest_id_#{i}"%>" hidden="true">
                                    <% Interest.all.each do |interest|%>


                                       <option value="<%= interest.interest_id %>">
                                          <%= interest.description%>
                                       </option>
                                    <%end%>
                                    <option value="none" selected>none</option>
                              </select>
                           <% end %>
                        </div>
                        <button type="button" id="btn_show">Add Interest</button> 
                        <button type="button" id="btn_hide">Remove Interest</button>
                        <!--type="button" prevents the page from refreshing-->
                        <br><br>                    
                      
                        
                        <label>Other Notes:</label><br>
                        <textarea type="text" name="profile_text" rows="5" cols="50" maxwidth="100"><%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %></textarea>
                        <br>
                      
                      
                     <% else %>
                        <p>ERROR</p>
                     
                     <!-- redirect to the home page "/index" -->
                     <% end %>
                     <br>
                     <input type="submit" class="button" value="Save Changes" name="submit_change_details"/>
                     <br>
                  </form>
                  
               </div>
            <% else %>
               <div id="presentationOfDetails">
                  <!-- PRESENTING DETAILS-->
                  <% @user=User.first(id: @user_id) %>
                  <% if @role.eql?("mentee") %>
                     <label>First Name:</label><br>
                     <%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %><br><br>
                  
                     <label>Surname:</label><br>
                     <%= @user.surname.nil? ? "Not given" : (h @user.surname) %><br><br>
               
                     <label>Year of Birth:</label><br>
                     <%= @user.year_of_birth.nil? ? "Not given" : (h @user.year_of_birth) %><br><br>

                     
                     <label>Gender:</label><br>
                     <%= @user.gender.nil? ? "Not given" : (h @user.gender) %><br><br>
                     
                     <label>Contact number:</label><br>
                     <%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %><br><br>
                     
                     
                     <label>Your course:</label><br>
                           <% @courses = Course.all %>
                           <% @courses.each_with_index do |course, index| %>
                              <%if index+1==@user.deg_id%>
                                 <%=course.deg_name_functional%>
                              <% end %>
                           <% end %><br><br>
                     
                     <label>Degree year:</label><br>
                     <% keys = [" ","foundation_year","1","2","3","year_in_industry","masters","phd"] %>
                     <% values = [" ","Foundation Year","1","2","3","Year In Industry","Masters Year","PhD"] %>
                     <% selected = Array.new(keys.length) {false}%>
                     <% if !@user.deg_year.nil?%>
                        <% keys.each_with_index do |key, i| %>
                              <% selected[i]=true if key==@user.deg_year %>
                        <% end %>
                     <% end %> 
                     <% for i in 0...keys.length do %>
                        <%=values[i] if selected[i]%>
                     <% end %><br><br> 


                     <label>Interests:</label><br>
                     <% @usr_interests = Userinterest.where(user_id: @user_id) %>
                     <%if @usr_interests.empty?%>
                        <p>You didn't enter any details about interests yet.</p>
                     <% else %>
                        <ul>
                           <% @usr_interests.each do | usr_interest |%>
                              <li>
                                 <% @interest=Interest.first(interest_id: usr_interest.interest_id) %>
                                 <%=  @interest.description %>
                              </li>
                           <% end %>
                        </ul>
                     <% end %>
                                                      
                     <label>Other Notes:</label><br>
                     <%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %><br>
                  
                  <% elsif @role.eql?("mentor") %>

                     <label>First Name:</label><br>
                     <%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %><br><br>
                  
                     <label>Surname:</label><br>
                     <%= @user.surname.nil? ? "Not given" : (h @user.surname) %><br><br>
               
                     <label>Year of Birth:</label><br>
                     <%= @user.year_of_birth.nil? ? "Not given" : (h @user.year_of_birth) %><br><br>

                     <label>Gender:</label><br>
                     <%= @user.gender.nil? ? "Not given" : (h @user.gender) %><br><br>
                     
                     <label>Contact number:</label><br>
                     <%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %><br><br>
                  
                     <label>Job title:</label><br>
                     <%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %><br><br>

                     <label>Interests:</label><br>
                     <% @usr_interests = Userinterest.where(user_id: @user_id) %>
                     <%if @usr_interests.empty?%>
                        <p>You didn't enter any details about interests yet.</p>
                     <% else %>
                        <ul>
                           <% @usr_interests.each do | usr_interest |%>
                              <li>
                                 <% @interest=Interest.first(interest_id: usr_interest.interest_id) %>
                                 <%=  @interest.description %>
                              </li>
                           <% end %>
                        </ul>
                     <% end %>


                     <label>Other Notes:</label><br>
                     <%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %><br>
                  
                  <% elsif @role.eql?("admin") %>
                     
                     <label>First Name:</label><br>
                     <%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %><br><br>
                  
                     <label>Surname:</label><br>
                     <%= @user.surname.nil? ? "Not given" : (h @user.surname) %><br><br>
               
                     <label>Year of Birth:</label><br>
                     <%= @user.year_of_birth.nil? ? "Not given" : (h @user.year_of_birth) %><br><br>

                     <label>Gender:</label><br>
                     <%= @user.gender.nil? ? "Not given" : (h @user.gender) %><br><br>
                     
                     <label>Contact number:</label><br>
                     <%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %><br><br>
                   
                     <label>Job title:</label><br>
                     <%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %><br><br>
             
                     <label>Other Notes:</label><br>
                     <%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %><br>
                   
                   
                  <% elsif @role.eql?("adminmentor") %>
                     
                     <label>First Name:</label><br>
                     <%= @user.first_name.nil? ? "Not given" : (h @user.first_name) %><br><br>
                  
                     <label>Surname:</label><br>
                     <%= @user.surname.nil? ? "Not given" : (h @user.surname) %><br><br>
               
                     <label>Year of Birth:</label><br>
                     <%= @user.year_of_birth.nil? ? "Not given" : (h @user.year_of_birth) %><br><br>

                     <label>Gender:</label><br>
                     <%= @user.gender.nil? ? "Not given" : (h @user.gender) %><br><br>
                     
                     <label>Contact number:</label><br>
                     <%= @user.contact_number.nil? ? "Not given" : (h @user.contact_number) %><br><br>
                   
                     <label>Job title:</label><br>
                     <%= @user.job_deg_cosmetic_name.nil? ? "Not given" : (h @user.job_deg_cosmetic_name) %><br><br>
                      
                     <label>Interests:</label><br>
                     <% @usr_interests = Userinterest.where(user_id: @user_id) %>
                     <%if @usr_interests.empty?%>
                        <p>You didn't enter any details about interests yet.</p>
                     <% else %>
                        <ul>
                           <% @usr_interests.each do | usr_interest |%>
                              <li>
                                 <% @interest=Interest.first(interest_id: usr_interest.interest_id) %>
                                 <%=  @interest.description %>
                              </li>
                           <% end %>
                        </ul>
                     <% end %>  
                   
                     <label>Other Notes:</label><br>
                     <%= @user.profile_text.nil? ? "Not given" : (h @user.profile_text) %><br>
                   
                  <% else %>
                     <% redirect "/not_found" %>
                  <%end%>
               </div>
               <div>
                  <a href="profilecreate?change=true" class="button">Change Profile Details</a><br>
                  <a href="/changeaccountdetails" class="button">Change Account Details</a> 
               </div>
            <% end %> 
            
         </div>
      </div>
       
       <%= erb :"common/footer" %>
       
   </body>
</html>