<html>
    <head>
        <title><%= @user.first_name %> <%= @user.surname %></title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1><%= @user.first_name %> <%= @user.surname %> - <%= @user.user_type.capitalize() %></h1>
        <h2><%= @user.job_deg_cosmetic_name.capitalize() %></h2>
        <div id="profileinfo">
            <p><%= @user.profile_text %></p>              
            <p>Major Interest: <%= @user.major_interest %></p>
        </div>            
        <div id="contactdetail">
            <h3>Contact Details:</h3>
            <p>Email: <%= @user.email %></p>
            <p>Phone: <%= @user.contact_number %></p> <!--maybe don't display phone for mentors?-->
        </div>
    </body>
</html>