<html lang="en">
    <head>
        <title>
            <% if !@user.nil? %>
                <%= @user.first_name.nil? ? "Unknown" : (h @user.first_name) %>
                <%= @user.surname.nil? ? "Unknown" : (h @user.surname) %>
            <%else %>
                <%= "Nil user"%>
            <% end %>
        </title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <% if !@user.nil? %>
            <h1 id="profile_header">
                <%= @user.first_name.nil? ? "Unknown" : (h @user.first_name)%>
                <%= @user.surname.nil? ? "Unknown" : (h @user.surname) %>
                <%= @user.user_type.nil? ? "" : "- " + (h @user.user_type.capitalize()) %>
            </h1>
            

            <div id="profileinfo">
                <h2>
                    <%= @user.job_deg_cosmetic_name.nil? ? "No occupation" : (h @user.job_deg_cosmetic_name.capitalize()) %>
                </h2>
                <p>
                    <%= @user.profile_text.nil? ? "No profile text given" : (h @user.profile_text) %>
                </p>         
                <p>
                    Major Interest: 
                    <%= @user.major_interest.nil? ? "No major interest given" : (h @user.major_interest) %>
                </p>
                <h3>Contact Details:</h3>
                <p>
                    Email: <%= @user.email.nil? ? "No email given" : (h @user.email) %>
                </p>
                <p>
                    Phone: <%= @user.contact_number.nil? ? "No contact number given" : (h @user.contact_number) %> <!--maybe don't display phone for mentors?-->
                </p>
            </div><br>         
        <% else %>
        <%= "The user doesn't exist in the database."%>
        <% end %>
        <a href="javascript:history.back()" class="button" id="go_back"> Go Back </a>
    </body>  
</html>