<html>
   <head>
      <title>Profile</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
   </head>
    
   <body>
      <% if @role.eql?("mentor") %> <!-- If you are a mentor, mentor list will not be displayed -->
      <nav>
         <ul>
            <li>
               <a href="index">Home</a>
            </li>
            <li>
               <a href="profilecreate">Profile</a>
            </li>
            <li>
               <a href="logout">Logout</a>
            </li>
         </ul>
      </nav>
      <% else %> <!-- for mentees/admins, mentor list will be displayed -->
      <nav>
         <ul>
            <li>
               <a href="index">Home</a>
            </li>
            <li>
               <a href="profilecreate">Profile</a>              
            </li>
            <li>
               <a href="browsementors">Mentor List</a>
            </li>
            <li>
               <a href="logout">Logout</a>
            </li>
         </ul>
      </nav>
      <% end %>
       
      <div id="profilecreatebody">
         <h1>Your Profile</h1>
         <div id="displayflex">
            <div>
               <input type="submit" value="Profile Picture" class="button" name="submit_register"/><br>
            </div>
             
            <div>
               <form method="post" action="createprofile">
                  <% if @role.eql?("mentee") %> <!-- If you are a mentee, then it will display the relevant fields for a mentee -->
                  <% @user=User.first(id: @user_id) %>
                   
                  <label>First Name:</label>
                  <input type="text" name="first_name" value="<%= h @user.first_name %>"/><br>
                
                  <label>Surname:</label>
                  <input type="text" name="surname" value="<%= h @user.surname %>"/><br>
            
                  <%if @user.age.nil?%> <!-- Later to be change to year of birth-->
                      <label>Year of Birth:</label>
                      <select name="year_of_birth">
                        <% (1900..2021).each do |i| %>
                            <%= "<option value=\"#{i}\">#{i}</option>" %>
                        <% end %>
                      </select><br>
                  <% else %>
                       <label>Year of Birth: <%= @user.age%></label><br>
                  <% end %>
                   
                  <label>Gender:</label>

                  <% gender = {"Male" => false, "Female" => false, "Other" => false} %> 
                  <% if !@user.gender.nil?%>
                      <% gender[@user.gender] = true %>
                  <%end%> 
                  <select name="gender">
                     <option value="Male" <%="selected" if gender["Male"]%>> <%= "Male"%></option>
                     <option value="Female" <%="selected" if gender["Female"]%>> <%= "Female"%> </option>
                     <option value="Other" <%="selected" if gender["Other"]%>> <%= "Other"%> </option>
                  </select>
                  <br>
                   
                  <label>Contact number:</label>
                  <input type="text" name="contact_number" value="<%= h @user.contact_number %>"/><br>
                   
                  
                      <label>Your course:</label>
                      <select name="deg_id">
                      <%puts @user.deg_id%>    
                        <% @courses = Course.all %>
                        <% @courses.each_with_index do |course, index| %>
                            <%puts "#{course.deg_name_functional} #{index}"%>
                            <option value="<%=course.id%>" <%="selected" if index+1==@user.deg_id%>  ><%=course.deg_name_functional%></option>
                        <% end %>
                      </select>
                  <br>
                   
                  <label>Degree year:</label>
                  <% keys = ["foundation_year","1","2","3","year_in_industry","masters","phd"] %>
                  <% values = ["Foundation Year","1","2","3","Year In Industry","Masters Year","PhD"] %>
                  <% selected = Array.new(keys.length) {false}%>
                  <% if !@user.deg_year.nil?%>
                       <% keys.each_with_index do |key, i| %>
                           <%selected[i]=true if key==@user.deg_year %>
                       <% end %>
                  <% end %> 
                  <select name="deg_year">
                      <% for i in 0...keys.length do %>
                          <option value="<%= keys[i]%>" <%="selected" if selected[i]%> > <%=values[i]%></option>
                      <% end %> 
                  </select><br>
                   
                  <label>Interests:</label>
                  <input type="text" name="major_interest" value="<%= h @user.major_interest %>" /><br>
                   
                   <label>Other Notes:</label>
                  <input type="text" name="profile_text" value=<%= h @user.profile_text %>/><br>
                   
                  <% else if @role.eql?("mentor") %> <!-- If you are a mentor, then it will display the relevant fields for a mentor -->
                  <label>Email:</label>
                  <input type="text" name="email" value=""/><br>
                   
                  <label>Password:</label>
                  <input type="text" name="password" value=""/><br>
                   
                  <label>First name:</label>
                  <input type="text" name="first_name" value=""/><br>
                   
                  <label>Surname:</label>
                  <input type="text" name="surname" value=""/><br> 
                   
                  <label>Age:</label>
                  <input type="number" name="age" value=""/><br>
                   
                  <label>Gender:</label>
                  <select name="cars" id="cars">
                     <option>Male</option>
                     <option>Female</option>
                     <option>Other</option>
                  </select>
                  <br>
                   
                  <label>Contact number:</label>
                  <input type="text" name="contact_number" value=""/><br>
                   
                  <label>Job title:</label>
                  <input type="text" name="profile_job_title" value=""/><br>
                   
                  <label>Job information:</label>
                  <input type="text" name="profile_job_information" value=""/><br>
                   
                  <label>Interests:</label>
                  <input type="text" name="profile_interests" value=""/><br>
                   
                  <label>Profile text:</label>
                  <input type="text" name="profile_text" value=""/><br>
                  <% else %>
                  <p>ERROR</p>
                  <!-- redirect to the home page "/index" -->
                  <% end %>
                  <% end %>
                  <br><button type="button" class="button">Change Details</button><br>
               </form>
            </div>
         </div>
      </div>
       
   </body>
</html>