<html lang="en">
   <head>
      <title>Profile</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="profilecreate.js" defer></script> 
   </head>
    
   <body>
      <!--NAV BAR-->
      <%= erb :"common/nav"%>
		  <!--POP UPS-->
      <div class = "pop_ups">
         <div class = "green">
						 <%= CookieReader.readCookie("change-from-profile-popup",request,response) %>
						 <%= CookieReader.readCookie("admin-to-adminmentor-success",request,response) %>
             <%= CookieReader.readCookie("adminmentor-to-admin-success",request,response) %>
         </div> 
				 <div class = "red">
						 <%= CookieReader.readCookie("admin-to-adminmentor-failure",request,response) %>
					   <%= CookieReader.readCookie("adminmentor-to-admin-failure",request,response) %>
				 </div>
		  </div>
       
      <div id="profilecreatebody">
         <h1>Your Profile</h1>
         <div id="displayflex">
            <div>
               <!-- The Profile Picture button would apply to any user type --> 
               <input type="submit" value="Profile Picture" class="button" name="profile_picture"/><br> 
               
               <!-- Here we are displaying the buttons specific to whether you are an admin or an adminmentor to switch roles accordingly --> 
               <% if @role.eql?("admin") %>
                   <form method="post" action="switchadminroles">
                       <input type="submit" value="Become a Mentor too" class="button" name="admin_to_adminmentor"/><br>
                   </form>
                   
               <% elsif @role.eql?("adminmentor") %>
                   <form method="post" action="switchadminroles">
                       <span>
                       <input id="button2" type="submit" value="Revoke your Mentor role &#10 and become an Admin only" class="button" name="adminmentor_to_admin"/><br>
                           </span>
                   </form>
               <% end %>    
            </div>
             
            <div id="profileinfo">
                <% path = "common/profilecreate"%>
                <% @change ? path+="/change" : path+="/display" %>
                <% session[:user_type].eql?("mentee") ? path+="/mentee": path+="/other" %>

                <%= erb :"#{path}" %> 
            </div>
            <div>
                <a href="profilecreate?change=true" class="button">Change Profile Details</a><br>
                <a href="/changeaccountdetails" class="button">Change Account Details</a> 
            
            </div>
         </div>
      </div>
       
       <%= erb :"common/footer" %>
       
   </body>
</html>