<html>
    <head>
        <title>Register</title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Register</h1>
        <p>Register with your credentials below:</p>
        
        <form method="post" action="/register">
            
            <label>Enter Email:</label>
            <input type="email" name="email" value="<%= h @user.email unless @user.nil? %>"/>
            <% if !@user.nil? && @user.errors.include?("email") %>
                <% @user.errors["email"].each do |error| %>
                    <p class="error"><strong><%= error %></strong></p>
                <% end %>
            <% end %>
            <br>
            
            <label>Password:</label>
            <input type="password" name="password" value="<%= h @user.password unless @user.nil? %>"/>
            <% if !@user.nil? && @user.errors.include?("password") %>
                <% @user.errors["password"].each do |error| %>
                    <p class="error"><strong><%= error %></strong></p>
                <% end %>
            <% end %>
            <br>
            
            <label>Repeat Password:</label>
            <input type="password" name="password_repeat" value="<%= h @user.password_repeat unless @user.nil? %>"/>
            <% if !@user.nil? && @user.errors.include?("password_repeat") %>
                <% @user.errors["password_repeat"].each do |error| %>
                    <p class="error"><strong><%= error %></strong></p>
                <% end %>
            <% end %>
            <br>
            
            <label>Mentee:</label>
            <input type="radio" name="user_type" value="mentee" checked/>
            <br>
            
            <label>Mentor:</label>
            <input type="radio" name="user_type" value="mentor"/>
            <br>
            
            <label>Admin:</label>
            <input type="radio" name="user_type" value="admin"/>
            <br><br>
                
<!--             do some comparison and validation if the typed password meets the minimum requerements -->
            <input type="submit" value="Register" class="button" name="submit_register"/>
        </form>
        <a href="/login" id="go_to_signin">Already have an account? Login here!</a>
        
    </body>
</html>