<h1>Your Relationships:</h1>
<!-- Retrieving all the pairs -->
<% @pairs = Pair.where(mentee_id: @user_id) %>
<% if(@pairs.empty?) %>
    <p>You don't have any relationships at the moment.</p>
<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Status</th>
            <th>Actions</th> 
        </tr>
        <% @pairs.each do |pair| %>
            <% @pair = pair%> <!--Creating global variable to be in scope of views in common/index/status_switching/*-->
            <!-- Reading from the database, in each iteration, we are getting a mentor whos id is request.mentor_id (the mentor that accepted your request) -->
            <% @mentor = User.first(id: pair.mentor_id) %>
            <%unless @mentor.nil?%>
            <tr>
                <td>
                    <%= (@mentor.first_name.nil?) ? ("Not given") : (h @mentor.first_name) %> 
                    <%= (@mentor.surname.nil?) ? ("Not given") : (h @mentor.surname) %>
                </td>
                <td>
                    <%= (@mentor.email.nil?) ? ("Not given") : (h @mentor.email) %>
                </td>
                <td>
                    <%= (@mentor.contact_number.nil?) ? ("Not given") : (h @mentor.contact_number) %>
                </td>
                <%case pair.status%>
                <%when 0%>
                    <td>
                        <%="You have requested a meeting with #{@mentor.first_name} #{@mentor.surname}. Wait for their reply."%>
                    </td>
                    <!--Status 8 if a Mentee wants to cancel the relationship at any stage of the application-->
                    <%= erb :"common/index/status_switching/8"%>
                <%when 1%>
                    <td>
                        <%= "#{@mentor.first_name} #{@mentor.surname} has agreed for a meeting with you. After the meeting, decide if you want to request a mentorship or cancel this relationship."%>
                    </td>
                    <!--Status 2 if a Mentee wants to Request a Mentorship-->
                    <%= erb :"common/index/status_switching/2"%>
                    
                    <!--Status 8 if a Mentee wants to cancel the relationship at any stage of the application-->
                    <%= erb :"common/index/status_switching/8"%>

                <%when 2%>
                    <td>
                        <%="You have requested a mentorship with #{@mentor.first_name} #{@mentor.surname}. Wait for their reply."%>
                    </td>
                    <!--Status 8 if a Mentee wants to cancel the relationship at any stage of the application-->
                    <%= erb :"common/index/status_switching/8"%>

                <%when 3%>
                    <td>
                        <%="Active Mentorship"%>
                    </td>
                    <!--cancelling relationship moving to status 4-->
                    <!--Status 4 if a Mentee wants to cancel the relationship at any stage of the application-->
                    <%= erb :"common/index/status_switching/4"%>
                <%when 4%>
                    <td>
                        <%= "You have requested to cancel your Mentorship with #{@mentor.first_name} #{@mentor.surname}. Wait for their reply."%>
                    </td>
                    <!--Status 3 if a user calls off their cancelling request-->
                    <%= erb :"common/index/status_switching/3"%>
                    
                <%when 5%>
                    <td>
                        <%= "You have cancelled your Menteeship with #{@mentor.first_name} #{@mentor.surname}." %>
                    </td>
                
                    <!--No actions available-->
                    <%= erb :"common/index/status_switching/no_action"%>
                <%when 6%>
                    <td>
                        <%= "#{@mentor.first_name} #{@mentor.surname} wants to cancel their mentorship with you." %>
                    </td>
                    <!--agree on cancelling the relationship moving to status 7-->
                    <%= erb :"common/index/status_switching/7"%>

                <%when 7%>
                    <td>
                        <%= "This relationship was cancelled by #{@mentor.first_name} #{@mentor.surname}."%>
                    </td>
                
                    <!--No actions available-->
                    <%= erb :"common/index/status_switching/no_action"%>
                <% else %>
                    <%= "ERROR Unhandled status type"%>
                <% end %>
                <td>
                    <a id="profilelinks" href="<%= @mentor.id.nil? ? "/not_found" : "profile/" + (h @mentor.id) %>">Profile</a>
                </td>
            </tr>
            <% end %>
        <% end %>
    </table><br>
<% end %>