<h1>Your Relationships:</h1>
<!-- Retrieving all the pairs -->
<% @pairs = Pair.where(mentee_id: @user_id) %>
<% if(@pairs.empty?) %>
    <p>You don't have any relationships at the moment.</p>
<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Status</th>
            <th>Actions</th> 
        </tr>
        <% @pairs.each do |pair| %>
            <!-- Reading from the database, in each iteration, we are getting a mentor whos id is request.mentor_id (the mentor that accepted your request) -->
            <% @mentor = User.first(id: pair.mentor_id) %>
            <%unless @mentor.nil?%>
            <tr>
                <td>
                    <%= (@mentor.first_name.nil?) ? ("Not given") : (h @mentor.first_name) %> 
                    <%= (@mentor.surname.nil?) ? ("Not given") : (h @mentor.surname) %>
                </td>
                <td>
                    <%= (@mentor.email.nil?) ? ("Not given") : (h @mentor.email) %>
                </td>
                <td>
                    <%= (@mentor.contact_number.nil?) ? ("Not given") : (h @mentor.contact_number) %>
                </td>
                <%case pair.status%>
                <%when 0%>
                    <td>
                        <%="You have requested a meeting with #{@mentor.first_name} #{@mentor.surname}. Wait for their reply."%>
                    </td>
                    <td>
                        <!--Status 8 if a Mentee wants to cancel the relationship at any stage of the application-->
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="8" />
												<input hidden name="old_status" value="<%=pair.status%>" />
                        <input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return cancelMeetingRequest()" value="Cancel Meeting Request" name="cancel_meeting_request"/>
                        </form>
                    </td>
                    
                <%when 1%>
                    <td>
                        <%= "#{@mentor.first_name} #{@mentor.surname} has agreed for a meeting with you. After the meeting, decide if you want to request a mentorship or cancel this relationship."%>
                    </td>
                    <td>
                        <!--Status 2 if a Mentee wants to Request a Mentorship-->
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="2" />
												<input hidden name="old_status" value="<%=pair.status%>" />
                        <input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return requestMentorship()" value="Request Mentorship" name="request_mentorship"/>
                        </form>

                        <!--Status 8 if a Mentee wants to cancel the relationship at any stage of the application-->
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="8" />
												<input hidden name="old_status" value="<%=pair.status%>" />
                        <input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return cancelApplication()" value="Cancel Application" name="cancel_application"/>
                        </form>
                    </td>

                <%when 2%>
                    <td>
                        <%="You have requested a mentorship with #{@mentor.first_name} #{@mentor.surname}. Wait for their reply."%>
                    </td>
                    <td>
                        <!--Status 8 if a Mentee wants to cancel the relationship at any stage of the application-->
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="8" />
                        <input hidden name="old_status" value="<%=pair.status%>" />
												<input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return cancelMentorshipRequest()" value="Cancel Mentorship Request" name="cancel_mentorship_request"/>
                        </form>
                    </td>

                <%when 3%>
                    <td>
                        <%="Active Mentorship"%>
                    </td>
                    <!--cancelling relationship moving to status 4-->
                    <td>
                        <!--Status 4 if a Mentee wants to cancel the relationship at any stage of the application-->
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="4" />
                        <input hidden name="old_status" value="<%=pair.status%>" />
												<input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return cancelMentorship()" value="Cancel Mentorship" name="cancel_mentorship"/>
                        </form>
                    </td>
                <%when 4%>
                    <td>
                        <%= "You have requested to cancel your Mentorship with #{@mentor.first_name} #{@mentor.surname}. Wait for their reply."%>
                    </td>
                    <td>
                        <!--Status 3 if a user calls off their request-->
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="3" />
                        <input hidden name="old_status" value="<%=pair.status%>" />
												<input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return cancelOngoingRequest()" value="Cancel ongoing Request" name="cancel_ongoing_request"/>
                        </form>
                    </td>
                <%when 5%>
                    <td>
                        <%= "You have cancelled your Menteeship with #{@mentor.first_name} #{@mentor.surname}." %>
                    </td>
                
                    <!--No actions available-->
                    <td>
                        <%= "No actions needed." %>
                    </td>
                <%when 6%>
                    <td>
                        <%= "#{@mentor.first_name} #{@mentor.surname} wants to cancel their mentorship with you." %>
                    </td>
                    <!--agree on cancelling the relationship moving to status 7-->
                    <td>
                        <form method="post" action="setpairstatus">
                        <input hidden name="status" value="7" />
                        <input hidden name="old_status" value="<%=pair.status%>" />
												<input hidden name="path" value="/index" />
                        <input hidden name="pair_id" value="<%=pair.pair_id.nil? ? "" :  (h pair.pair_id) %>">
                        <input id="requestbutton" type="submit" onclick="return agreeOnCancelling()" value="Agree on cancelling" name="agree_on_cancelling"/>
                        </form>
                    </td>

                <%when 7%>
                    <td>
                        <%= "This relationship was cancelled by #{@mentor.first_name} #{@mentor.surname}."%>
                    </td>
                
                    <!--No actions avaliable-->
                    <td>
                        <%= "No actions needed." %>
                    </td>
                <% else %>
                    <%= "ERROR Unhandled status type"%>
                <% end %>
                <td>
                    <a id="profilelinks" href="<%= @mentor.id.nil? ? "/not_found" : "profile/" + (h @mentor.id) %>">Profile</a>
                </td>
            </tr>
            <% end %>
        <% end %>
    </table><br>
<% end %>