<h1>Your Relationships:</h1>
<% @pairs = Pair.where(mentor_id: @user_id) %>
<% if(@pairs.empty?) %>
    <p>You haven't accepted any mentees yet.</p>
<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Status</th>
            <th>Actions</th> 
        </tr>
        <% @pairs.each do |pair| %>
            <@pair = pair>
            <% @mentee = User.first(id: pair.mentee_id) %>
            <%unless @mentee.nil?%>
            <tr>
                <td>
                    <%= (@mentee.first_name.nil?) ? ("Not given") : (h @mentee.first_name) %> 
                    <%= (@mentee.surname.nil?) ? ("Not given") : (h @mentee.surname) %>
                </td>
                <td>
                    <%= (@mentee.email.nil?) ? ("Not given") : (h @mentee.email) %>
                </td>
                <td>
                    <%= (@mentee.contact_number.nil?) ? ("Not given") : (h @mentee.contact_number) %>
                </td>
                <%case pair.status%>
                <%when 0%>
                    <td>
                        <%="#{@mentee.first_name} #{@mentee.surname} has requested a meeting."%>
                    </td>
                    <!--accepting meeting moving to status 1-->
                    <%= erb :"common/index/status_switching/1"%>
                    <!--cancelling relation ship moving to status 8-->
                    <%= erb :"common/index/status_switching/8"%>                    
                <%when 1%>
                    <td>
                        <%= "You have agreed on a meeting with #{@mentee.first_name} #{@mentee.surname}. After the meeting, expect a mentorship request soon."%>
                    </td>
                    <!--cancelling relation ship moving to status 8-->
                    <%= erb :"common/index/status_switching/8"%> 
                <%when 2%>
                    <td>
                        <%="#{@mentee.first_name} #{@mentee.surname} wants to have you as their mentor."%>
                    </td>
                    <!--accepting mentorship moving to status 3-->
                    <%= erb :"common/index/status_switching/3"%>
                    <!--cancelling relation ship moving to status 8-->
                    <%= erb :"common/index/status_switching/8"%> 

                <%when 3%>
                    <td>
                        <%="Active Mentorship"%>
                    </td>
                    <!--request cancelling  moving to status 6-->
                    <%= erb :"common/index/status_switching/6"%> 

                <%when 4%>
                    <td>
                        <%= "#{@mentee.first_name} #{@mentee.surname} wants to cancel their mentorship with you." %>
                    </td>
                    <!--agree on cancelling the relationship moving to status 5-->
                    <%= erb :"common/index/status_switching/5"%>

                <%when 5%>
                    <td>
                        <%= "The mentorship was cancelled by #{@mentee.first_name} #{@mentee.surname}."%>
                    </td>
                
                    <!--No actions available-->
                    <%= erb :"common/index/status_switching/no_action"%>
                <%when 6%>
                    <td>
                        <%= "You have requested to cancel this mentorship with #{@mentee.first_name} #{@mentee.surname}. Wait for their reply."%>
                    </td>
                    <!--Call off the previous request they made to cancel, moving to status 3-->
                    <%= erb :"common/index/status_switching/3"%>
                
                <%when 7%>
                    <td>
                        <%= "You have cancelled the mentorship with #{@mentee.first_name} #{@mentee.surname}."%>
                    </td>
                
                    <!--No actions available-->
                    <%= erb :"common/index/status_switching/no_action"%>
                <% else %>
                    <%= "ERROR Unhandled status type"%>
                <% end %>   
                <td>
                    <a id="profilelinks" href="<%= @mentee.id.nil? ? "/not_found" : "profile/" + (h @mentee.id) %>">Profile</a>
                </td>
            </tr>
            <% end %>
        <% end %>
    </table><br>
<% end %>