<label>Interests:</label><br>
<div id="dropdowns">
   <!-- for visible interest dropdown lists-->
   <%@usr_interests.each_with_index do |usr_interest, i|%>
         <select name="<%="interest_id_#{i}"%>">
            <% Interest.all.each do |interest|%>
               <option value="<%= interest.interest_id %>"
                     <%= usr_interest.interest_id.eql?(interest.interest_id)? "selected" : "" %>>
                  <%= interest.description%>
               </option>

            <%end%>
            <option value="none">none</option>
         </select>
   <%end%>
   <!-- for hidden interest dropdown lists-->
   <% for i in @numOfUserInterests...@numOfInterests%>
      <select name="<%="interest_id_#{i}"%>" hidden="true">
            <% Interest.all.each do |interest|%>


               <option value="<%= interest.interest_id %>">
                  <%= interest.description%>
               </option>
            <%end%>
            <option value="none" selected>none</option>
      </select>
   <% end %>
</div>
<button type="button" id="btn_show">Add Interest</button> 
<button type="button" id="btn_hide">Remove Interest</button>
<!--type="button" prevents the page from refreshing-->
<br><br>